<ion-header>
    <ion-toolbar>
      <ion-title>
        Employee
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row  *ngFor="let employee of employees">
        <ion-col>
          {{ employee.employeeId }}
          {{ employee.name }}
          {{ employee.place}}
        </ion-col>
      </ion-row>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-grid>
  </ion-content>